header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  padding: 0.125em 6em 0.125em 6em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  gap: 5px;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 2em;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

a {
  all: unset;
}
