
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #2196F3;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #1976D2;
}


li span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
